* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b8d0eb;
    color: white;
}
main {
    background-color: #6f2dbd;
    width: 500px;
    margin: auto;
    padding: 100px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.464);
}
h1 {
    font-family: 'Amatic SC', cursiva;
    font-size: 5em;
    text-align: center;
    margin-bottom: 0.3em;
}
div#tamanho {
    display: flex;
    flex-direction: column;
}
input#tamanho-senha {
    -webkit-appearance: none;
    cursor: grab;
    border-radius: 10px;
}
#btn-gerar {
    width: 300px;
    background-color: #b298dc;
    padding: 8px;
    color: #444;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2em 0px;
    font-size: bolder;
    cursor: pointer;
    margin-left: 20%;
}
#btn-gerar:hover {
    color: #444;
    background-color: #b9faf8;
    border: 2px solid #a663cc;
    transform: scale(1.1);
    transition: .75s;
}
section p {
    text-align: center;
    font-weight: 100;
    margin-bottom: 1em;
    display: none;
}
#senha-gerada {
    text-align: center;
    width: 400px;
    margin-bottom: 1em;
    padding: .6em;
    background-color: #b9faf8;
    outline: none;
    border: none;
    color: #444;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 7%;
    display: none;
}
#copiar-senha {
    width: 50px;
    padding: .5em;
    background-color: #b9faf8;
    color: #444;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    display: none;
    margin: auto;
}

